#Database related credentials 
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# Email Configuration
EMAIL_USER=
BREVO_API_KEY=

#Secrets for JWT and Certificate
JWT_SECRET=
CERTIFICATE_SECRET=

# URLs for the application(ex:https://kucet-college-management-system.onrender.com,http://localhost:3000)
NEXT_PUBLIC_BASE_URL=
NEXTAUTH_URL=
NEXTAUTH_URL_INTERNAL=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# Environment variable to specify the working environment (e.g., testing, production)
NEXT_PUBLIC_WORKING_ENV=

# Cloudinary (Image Storage)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Syllabus URL
NEXT_PUBLIC_SYLLABUS_BASE_URL=https://kucet.ac.in/pdf/syllabus\
# Sentry Monitoring
NEXT_PUBLIC_SENTRY_DSN=your-sentry-dsn-here\
